<html>
    <head>
        {% if title %}
        <title>{{ title }} - SchoolBlog</title>
        {% else %}
        <title>Добро пожаловать в школьный блог!</title>
        {% endif %}
    </head>
    <body>
		<div>SchoolBlog: 
			<a href="{{ url_for('index') }}">Главная</a>
			<a href="{{ url_for('about') }}">О нас</a>
			<a href="{{ url_for('login') }}">Войти</a>
		</div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>	
</html>
